@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sofia Sans";
  src: url("/fonts/SofiaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Sans";
  src: url("/fonts/SofiaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Sans";
  src: url("/fonts/SofiaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans";
  src: url("/fonts/SofiaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans";
  src: url("/fonts/SofiaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans";
  src: url("/fonts/SofiaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans";
  src: url("/fonts/SofiaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Add Italic if needed */
@font-face {
  font-family: "Sofia Sans";
  src: url("/fonts/SofiaSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
:root {
  --background: #111;
  --foreground: #252525;
  --cuYellow: #f8ce4c;
  --cuRed: #ec5a54;
  --cuGreen: #00bf58;
  --cuPurple: #6b34cd;
}
body {
  background-color: var(--background);
}

*::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2;
}

@keyframes waving {
  0% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(80deg);
  }
}

.wave {
  transform-origin: 80% 75%;
  animation: waving 0.5s both alternate infinite ease-in-out;
}

.section-home-hero {
  flex-direction: column;
  justify-content: space-between;
  min-height: 170vh;
  position: relative;
}

.home-hero-component {
  align-items: center;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container-home-hero {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.home-hero-content {
  text-align: center;
  width: 100%;
}

.hero-header {
  line-height: 1;
}

.scroll-down-button {
  position: absolute;
  top: auto;
  bottom: 3rem;
  left: 0%;
  right: 0%;
  transform: rotate(180deg);
}

.home-hero-button-wrapper {
  z-index: 4;
  justify-content: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 27%;
  left: 0%;
  right: 0%;
}
.rotate-button {
  transform: rotate(-10deg);
}

.hand-emoji {
  width: 3.5rem;
  position: absolute;
}
.hand-emoji.down {
  position: static;
}

.client-logo-image {
  max-height: 3.5rem;
}

@media screen and (max-width: 767px) {
  .client-logo-image {
    max-height: 3rem;
  }
}
.client-logo-item {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}
.subscribe-image-container {
  border-radius: 20px;
  overflow: hidden;
}
.subscribe-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 479px) {
  .subscribe-image {
    aspect-ratio: 1;
  }
}

.shake:hover {
  animation: shake 0.23s ease;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hand-emoji {
  animation: float 1.5s infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bg-noise {
  z-index: -2;
  background-color: #111;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bg-noise::before {
  content: "";
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/background/noise.png");
  animation: 0.2s infinite noise;
  pointer-events: none;
}
@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
